@mixin center_by_margin {
    margin-left: auto;
    margin-right: auto;
}

@mixin field_font_size {
    font-size: 16px;
}

@mixin select_css {
    height: 30px;
    width: 110px;
    border: 3px solid #000;
}

@mixin input_css {
    height: 25px;
    width: 120px;
    border: 3px solid #000;
}

@mixin btn {
    cursor: pointer;
    border: 3px solid #000;
    padding: 3px 10px;
    font-weight: 600;
}

$color_red: #ff3d4a;
$color_white: #fff;

* {
    font-family: '微軟正黑體';
}

.tools_cost_cal {
    width: 100%;
    position: relative;
    // height: cal(100vh - 50px);
}

.tools_cost_cal .block {
    @include center_by_margin;
    width: 500px;
}

.tools_cost_cal .block .top {
    color: $color_white;
    background-color: $color_red;
    padding: 10px;
}

.tools_cost_cal .block .top .title {
    font-size: 30px;
    font-weight: 600;
    margin: 5px;
}

.tools_cost_cal .block .mid {
    @include field_font_size;
    display: flex;
    align-items: center;
    border: 2px solid #000;
    margin: 10px;
    padding: 5px;
    position: relative;
}

.tools_cost_cal .block .mid .field {
    margin-left: 5px;
    margin-right: 10px;
}

.tools_cost_cal .block .mid select {
    @include select_css();
}

.tools_cost_cal .block .mid input {
    @include input_css();
}

.tools_cost_cal .block .mid .btn {
    @include btn;
    position: absolute;
    right: 15px;
}

.tools_cost_cal .block .bot .list {
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    margin: 0.3vw 0.8vw;
    padding: 0.2vw;
    position: relative;
}

.tools_cost_cal .block .bot .list .se_num {
    width: 30px;
    text-align: right;
}

.tools_cost_cal .block .bot .list .name {
    width: 65px;
    text-align: center;
}

.tools_cost_cal .block .bot .list .weight {
    width: 65px;
    text-align: right;
}

.tools_cost_cal .block .bot .list .mul_sign {
    // 乘號
    width: 20px;
    text-align: center;
}

.tools_cost_cal .block .bot .list .g_price {
    width: 45px;
    text-align: left;
}

.tools_cost_cal .block .bot .list .equal_sign {
    // 等於
    width: 15px;
    text-align: center;
}

.tools_cost_cal .block .bot .list .total_price {
    width: 70px;
    text-align: right;
}

.tools_cost_cal .block .bot .list .btn_cancel {
    @include btn;
    border: none;
    position: absolute;
    right: 0.1vw;
}

.tools_cost_cal .block .bot .last_row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 0.3vw 0.8vw;
    padding: 0.5vw;
    background-color: $color_red;
    color: $color_white;
    position: relative;
}

.tools_cost_cal .block .bot .last_row .btn_confirm {
    // border: 1px solid #000;
    position: absolute;
    right: 0.5vw;
    background-color: $color_white;
    color: $color_red;
    font-weight: 600;
    padding: 0.2vw 0.6vw;
    cursor: pointer;
    letter-spacing: 0.1vw;
}

.tools_cost_cal .dia_mask {
    background-color: #f1f0f0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0vw;
    display: none;
}

.tools_cost_cal .dia {
    width: 190px;
    box-shadow: 0px 0px 5px;
    background-color: $color_white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.tools_cost_cal .dia .title {
    width: 100%;
    background-color: $color_red;
    color: $color_white;
    text-align: center;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    font-weight: 600;
    font-size: 20px;
}

.tools_cost_cal .dia #product_name {
    text-align: center;
    margin-top: 15px;
}

.tools_cost_cal .dia #dia_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_red;
    color: $color_white;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0.2vw 0.8vw;
    cursor: pointer;
}